<footer class="footer">
    <div class="footer-container">
        <!-- Sección del CEO -->
        <div class="footer-ceo">
            <h3>Acerca del CEO</h3>
            <p>Tyskardito, fundador y CEO de <strong>Warriors Esports</strong>, tiene una visión clara: llevar al equipo a lo más alto del mundo competitivo. Con años de experiencia en la industria, su pasión por los videojuegos ha impulsado el crecimiento de la organización.</p>
        </div>

        <!-- Sección de Redes Sociales -->
        <div class="footer-redes">
            <h3>Síguenos en</h3>
            <ul class="social-links">
                <li><a href="https://x.com/warriorss_esp" target="_blank">Twitter</a></li>
                <li><a href="https://www.instagram.com/warriorss_esp/" target="_blank">Instagram</a></li>
                <li><a href="https://www.twitch.tv/tyskardito" target="_blank">Twitch Ceo</a></li>
                <li><a href="https://discord.gg/ZKfKuyw2Hb" target="_blank">Discord</a></li>
            </ul>
        </div>
    </div>
    
    <!-- Derechos de Autor -->
    <div class="footer-copyright">
        <p>&copy; 2024 Warriors Esports. Todos los derechos reservados.</p>
    </div>
</footer>

</body>
</html>