<script>
    const sesionReciente = <%-JSON.stringify(SesionActual)%>;
    const sesionIniciadaServidor = sesionReciente.Iniciada;
    if(localStorage.sesionIniciada){
        console.log("local");
    }
    else{
        if(sesionIniciadaServidor){
            localStorage.setItem("sesionIniciada", true);
            localStorage.setItem("usuario", sesionReciente.User);
            localStorage.setItem("idAdmin", sesionReciente.idAdmin);
            localStorage.setItem("email", sesionReciente.email);
        }
        else{
            console.log("Sin cuenta");
        }
    }
</script>

<nav id="navbar">
    <ul class="sidebar">
        <div class="logo">
            <img src="/img/Logo Warriors.jpeg" alt="Logo-Warriors">
            <h2 class="side-nav-titulo">Warriors Esports</h2>
        </div>
        <li onclick=hideSidebar()><button class="x-button"></button></li>
        <li><a class="side-nav-titulo" href="/">Inicio</a></li>
        <li><a class="side-nav-titulo" href="/Equipos">Equipos</a></li>
        <li><a class="side-nav-titulo" href="/Postulaciones">Postulaciones</a></li>
        <li><a class="side-nav-titulo botonSide" href="/login">Iniciar Sesion</a></li>
    </ul>
    <div class="navbar">
        <div class="logo">
            <img src="/img/Logo Warriors.jpeg" alt="Logo-Warriors">
            <h2 class="nav-titulo">Warriors Esports</h2>
        </div>
        <ul>
            <li class="hideOnmobile"><a class="nav-titulo" href="/">Inicio</a></li>
            <li class="hideOnmobile"><a class="nav-titulo" href="/Equipos">Equipos</a></li>
            <li class="hideOnmobile"><a class="nav-titulo" href="/Postulaciones">Postulaciones</a></li>
            <li class="hideOnmobile"><a class="nav-titulo botonNav" href="/login">Iniciar Sesion</a></li>
            <li class="Boton-SideBar" onclick=showSidebar()>
                <div class="menu-icon">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </li>
        </ul>
    </div>
</nav>
<script src="/scripts/navbar.js"></script>